<app-spinner *ngIf="isLoading"></app-spinner>

<section fxLayoutAlign="center center" *ngIf="!isLoading">
  <mat-card id="MainCard">
    <mat-card-title fxLayoutAlign="center">Add question to quiz</mat-card-title>
    <mat-card-content fxLayoutAlign="center">
      <form fxLayout="column" fxLayoutAlign="center center" fxLayoutAlign.xs="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="addQuestion(f)">
        <mat-form-field *ngIf="!isLoading">
          <mat-select placeholder="Choose quiz" required ngModel name="quizId" #quizInput="ngModel">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let quiz of quizList" [value]="quiz.id">
              {{quiz.title}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="quizInput.hasError('required')">Please choose quiz</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="text" matInput placeholder="Question text" ngModel name="text" required #titleInput="ngModel">
          <mat-error *ngIf="titleInput.hasError('required')">Please set text for your question</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="text" matInput placeholder="Correct answer" ngModel name="correctAnswer" required #corAnsInput="ngModel">
          <mat-error *ngIf="corAnsInput.hasError('required')">Required field</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="text" matInput placeholder="Wrong answer 1" ngModel name="answer1" required #ans1Input="ngModel">
          <mat-error *ngIf="ans1Input.hasError('required')">Required field</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="text" matInput placeholder="Wrong answer 2" ngModel name="answer2" required #ans2Input="ngModel">
          <mat-error *ngIf="ans2Input.hasError('required')">Required field</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="text" matInput placeholder="Wrong answer 3" ngModel name="answer3" required #ans3Input="ngModel">
          <mat-error *ngIf="ans3Input.hasError('required')">Required field</mat-error>
        </mat-form-field>

        <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Add</button>
      </form>
    </mat-card-content>
  </mat-card>
</section>

