<mat-nav-list fxShow>
  <a *ngIf="!isAuth" [routerLinkActive]="['link-active']" mat-list-item routerLink="/login" (click)="close()">
    <mat-icon>android</mat-icon>
    <span>Login</span>
  </a>
  <a *ngIf="!isAuth" [routerLinkActive]="['link-active']" mat-list-item routerLink="/signup" (click)="close()">
    <mat-icon>fingerprint</mat-icon>
    <span>Signup</span>
  </a>
  <a *ngIf="isAuth" [routerLinkActive]="['link-active']" mat-list-item routerLink="/myprofile" (click)="close()">
    <mat-icon>account_circle</mat-icon>
    <span>My Profile</span>
  </a>
  <a *ngIf="isAuth" [routerLinkActive]="['link-active']" mat-list-item routerLink="/myquizzes" (click)="close()">
    <mat-icon>help</mat-icon>
    <span>My Quizzes</span>
  </a>
  <a *ngIf="isAuth" [routerLinkActive]="['link-active']" mat-list-item routerLink="/search" (click)="close()">
    <mat-icon>search</mat-icon>
    <span>Search Quiz</span>
  </a>
  <a *ngIf="isAuth" [routerLinkActive]="['link-active']" mat-list-item routerLink="/addquiz" (click)="close()">
    <mat-icon>add_circle</mat-icon>
    <span>Add Quiz</span>
  </a>
  <a *ngIf="isAuth" [routerLinkActive]="['link-active']" mat-list-item routerLink="/addquestions" (click)="close()">
    <mat-icon>question_answer</mat-icon>
    <span>Add Questions</span>
  </a>
  <a *ngIf="isAuth" mat-list-item (click)="onLogout()">
    <mat-icon>eject</mat-icon>
    <span>Logout</span>
  </a>
</mat-nav-list>
